body 
{
    font-family: 'Encode Sans SC', sans-serif;
     margin: 0%;
    
}
.skip-color-changed
{
    color: blue;
}
.recipe-color-changed
{
    color: blue;
}
section
{
   display: flex;
   margin-bottom: 100px;
}
.half-width
{
    width: 50%;
    padding-left: 2%;
    font-size: 20px ;
    line-height: 40px;
}
.half-width img
{
    width: 70%;
}
.oder-button
{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700 ;
    color: white;
}

.order
{
    line-height:150px;
}

.banner
{
    background-image: url(images/shapes/7.png);

}

.third-section
{
      text-align: center;
}
.recipis-height 
{
    line-height:120px;
}

.recipie
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
    padding-bottom: 5%;
    margin-left: 10px;
    margin-right:10px;
}
.recipi-image
{    
    width:250px;
    height:150px;
    border-radius:15px;
    padding-top: 15px;
}
 #fourth-section
 {
   width: 75%;
   display: flex;
   margin-left: 15%;
   margin-right: 40%;
   margin-top: 10%;
   margin-bottom: 10%;
   box-shadow: 8px 8px 8px 8px gray;
 }
 #fourth-section
 {
       font-size: 20px;
 }
 .fourth
 {
     padding-left: 15%;
 }
footer h1
 {
    text-align: center;
    line-height:100px
}

.color
{
    color: orange;
}
footer
{
    background:skyblue;
}

.six{
    font-size:70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}
.eight{
    font-size: 70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}

   footer D:hover
   {
    background-color: yellow;
    margin-left: 400px;

  }
