body 
{
      font-family: 'Encode Sans SC', sans-serif;
      margin: 0%;
    
}
.skip-color-changed
{
    color: blue;
}
.recipe-color-changed
{
    color: blue;
}
section
{
   display: flex;
   margin-bottom: 100px;
}
.half-width
{
    width: 50%;
    padding-left: 2%;
}
.half-width img
{
    width: 70%;
}
.oder-button
{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700 ;
    color: white;
}
.banner
{
    background-image: url(images/shapes/7.png);

}
.recipie
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
    padding-bottom: 5%;
    margin-left: 10px;
    margin-right:10px;


}
.recipi-image
{
    
width:250px;
height:150px;
border-radius:15px;
padding-top: 15px;
}

footer h1
 {
    text-align: center;
}


footer p {
    text-align: center;
}

.color
{
    color: orange;
}




